extends layout

block content
  h1= title

  - let icecreamid = toShow._id
  - let icecream_flavour  = toShow.icecream_flavour
  - let icecream_quantity  = toShow.icecream_quantity
  - let icecream_cost = toShow.icecream_cost

  div.container
    div.row.mb-2
      div.col-12
        div.card
          div.card-body
            h5.card-title Ice Cream Details

            div.row
              div.col-md-3
                div.icecreamAttr.mb-3 Ice Cream ID:
                div #{icecreamid}

              div.col-md-3
                div.icecreamAttr.mb-3 Ice Cream Flavour:
                div #{icecream_flavour}

              div.col-md-3
                div.icecreamAttr.mb-3 Ice Cream Quantity:
                div #{icecream_quantity}

              div.col-md-3
                div.icecreamAttr.mb-3 Ice Cream Cost:
                div #{icecream_cost}