extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let icecreamid = toShow._id
    - let icecereamflavour = toShow.icecream_flavour
    - let icecreamquantity = toShow.icecream_quantity
    - let icecreamcost = toShow.icecream_cost
    div.row(class='mb-2')
      div.mr-1 icecream ID is
        div #{icecreamid}
    - let actionid = "/resource/icecream/" + icecreamid
    form(id='icecreamForm', action=actionid, method="PUT")
      div.form-group
        label.icecreamAttr(for='icecream_flavour') icecream type
        input#icecream_flavour(type='text', name='icecream_flavour', value=icecereamflavour)
      div.form-group
        label.icecreamAttr(for='icecream_quantity') icecream quantity
        input#icecream_quantity(type='text', name='icecream_quantity', value=icecreamquantity)
      div.form-group
        label.icecreamAttr(for='iceceream_cost') icecream cost
        input#icecream_cost(type='number', name='icecream_cost', value=icecreamcost)
      input(type="submit")
    script.
      document.forms['icecreamForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO: do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO: handle body
        }).catch((error) => {
          // TODO: handle error
          alert("Update failed " + error);
        });
      });